<nav class="navbar navbar-toggleable-md navbar-light fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white " href="{{ path('main_homepage') }}"> <img src="{{ asset('dist/Neoindustry_logo_01.png') }}" alt=""> {% trans from  'nav' %} entreprise {% endtrans %} </a>

    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item active">
                <a class="nav-link hide" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white hide" href="#">Neo indus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">{% trans from  'nav' %} about {% endtrans %} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('main_marque') }}">{% trans from  'nav' %} marque {% endtrans %} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">{% trans from  'nav' %} activity {% endtrans %} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">{% trans from  'nav' %} partners {% endtrans %} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">{% trans from  'nav' %} news {% endtrans %} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">{% trans from  'nav' %} cacaoFuture {% endtrans %} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('main_media') }}">{% trans from  'nav' %} media {% endtrans %} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">{% trans from  'nav' %} contact {% endtrans %} </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-cacao my-2 my-sm-0" href="{{ path('app_locale') }}">{% trans from  'nav' %} lang {% endtrans %}</a>
        </form>
    </div>
</nav>