{# add navigation current nav mark #}
{% set route = app.request.get('_route') %}
{% set baseRoute = app.request.baseUrl %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %} Neoindustry  {% endblock %}
    </title>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=yes" />
    <meta name = "author" content = "contact@neoindustrysa.com (assistance de neoindustrysa en ligne)" />
    <meta name="copyright" content="@neoindtrysa.com (tous  droits reservés)" />

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- block pour la traduction -->
    {% block meta %}

    {% endblock %}

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- traduction  -->
    <link rel="alternate" href="https://www.neoindustrysa.com/fr/" hreflang="fr"/>
    <link rel="alternate" href="https://www.neoindustrysa.com/en/" hreflang="en"/>




    {% block stylesheets %}
        <!-- Bootstrap 4 -->
        <link rel="stylesheet" href="{{ asset('plugin/bootstrap/css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ asset('plugin/jquery-ui-1.12.1/jquery-ui.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('plugin/font-awesome/font-awesome.min.css') }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('plugin/ionicons/ionicons.min.css') }}">

        <link rel="stylesheet" href="{{ asset('plugin/datepicker/datepicker.css') }}">

        <link rel="stylesheet" href="{{ asset('plugin/perfect/scrollbar.css') }}">

        <!-- funglobe CSS -->
        <link rel="stylesheet" href="{{ asset('data/css/master.css') }}">
        <!-- logo -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon-32.ico') }}" />

        <!-- Stylesheets for user -->
        {% block mycss %}

        {% endblock %}
    {% endblock %}

</head>
<body>



<!-- block  reservé  pour l'entete -->
{% block header %}{% endblock %}
<!-- reservé pour les notifications -->
{% block flash %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div>
            {{ flashMessage }}
        </div>
    {% endfor %}

{% endblock %}
<div id="body">
    <!-- reservé pour le contenu  de la page -->
    {% block content %}

    {% endblock %}

    <!-- reservé pour le footer de la page-->
    {% block footer %}

    {% endblock footer %}
</div>

{% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
<script>
    // get locale
    locale = "{{ app.request.locale }}";
    pathBase = location.host; //"{{ app.request.baseUrl }}";
    // get route
    route = "{{ route }}";
    // url  courant
    url = "{{ currentPath }}";
</script>



{% block javascripts %}
    <!-- faciliter la manipulation du  controlleur dans le js  -->

    <!-- jQuery 3.1 -->
    <script src="{{ asset('plugin/jQuery/jquery.js') }}"></script>




    <!-- Tether -->
    <script src="{{ asset('plugin/tether/tether.js') }}"></script>

    <!-- Bootstrap 4 -->
    <script src="{{ asset('plugin/bootstrap/js/bootstrap.js') }}"></script>

    <!-- Font Awesome -->

    <script src="{{ asset('plugin/datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('plugin/bootbox/bootbox.min.js') }}"></script>
    <script src="{{ asset('plugin/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('plugin/perfect/scrollbar.js') }}"></script>

    {% block myjs %}{% endblock %}


    <!-- neoindustrysa js -->

    <script src="{{ asset('data/js/master.min.js') }}"></script>

    {# add navigation current nav mark #}
    {% set route = app.request.get('_route') %}
    {% set baseRoute = app.request.baseUrl %}

    {% if app.environment == 'dev' %}
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    {% endif %}

{% endblock %}

</body>
</html>
