{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'marque' %} refer.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'marque' %} refer.description {% endtrans %}" >
{% endblock %}

{% block title %}
    {% trans from 'marque' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}
{% endblock %}


{% block mainLg %}
    <div class="text-center" id="mainMarque">
        <div id="mainBlock1" style="background: url({{ asset('dist/marque/nav.png') }}) no-repeat; ">
            <div class="row align-items-center mainBlock1" >
                <div class="col-12 " >
                    <h1 class="">  {% trans from  'marque' %} block1 {% endtrans %}</h1>
                </div>
            </div>
        </div>
        <div id="mainBlock2">
           <div class="container">
               <div class="row">
                   <div class="col-lg-3 col-md-4 col-sm-12">
                       <div class="cards">
                           <div class="card-blocks " style="background: url({{ asset('dist/marque/prod1.png') }}) no-repeat; ">
                              <div class="row align-items-center hover-desc ">
                                  <div class="col-12 ">
                                      <h2>{% trans from  'marque' %} prod1.title {% endtrans %}</h2>
                                      <span> {% trans from  'marque' %} prod1.description {% endtrans %}  </span>
                                  </div>
                              </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-12">
                       <div class="cards">
                           <div class="card-blocks " style="background: url({{ asset('dist/marque/prod2.png') }}) no-repeat; ">
                               <div class="row align-items-center hover-desc ">
                                   <div class="col-12 ">
                                       <h2>{% trans from  'marque' %} prod2.title {% endtrans %}</h2>
                                       <span> {% trans from  'marque' %} prod2.description {% endtrans %}  </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-12">
                       <div class="cards">
                           <div class="card-blocks " style="background: url({{ asset('dist/marque/prod3.png') }}) no-repeat; ">
                               <div class="row align-items-center hover-desc ">
                                   <div class="col-12 ">
                                       <h2>{% trans from  'marque' %} prod3.title {% endtrans %}</h2>
                                       <span> {% trans from  'marque' %} prod3.description {% endtrans %}  </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-12">
                       <div class="cards">
                           <div class="card-blocks " style="background: url({{ asset('dist/marque/prod4.png') }}) no-repeat; ">
                               <div class="row align-items-center hover-desc ">
                                   <div class="col-12 ">
                                       <h2>{% trans from  'marque' %} prod4.title {% endtrans %}</h2>
                                       <span> {% trans from  'marque' %} prod4.description {% endtrans %}  </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div> <div class="col-lg-3 col-md-4 col-sm-12">
                       <div class="cards">
                           <div class="card-blocks " style="background: url({{ asset('dist/marque/prod5.png') }}) no-repeat; ">
                               <div class="row align-items-center hover-desc ">
                                   <div class="col-12 ">
                                       <h2>{% trans from  'marque' %} prod5.title {% endtrans %}</h2>
                                       <span> {% trans from  'marque' %} prod5.description {% endtrans %}  </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-12">
                       <div class="cards">
                           <div class="card-blocks " style="background: url({{ asset('dist/marque/prod6.png') }}) no-repeat; ">
                               <div class="row align-items-center hover-desc ">
                                   <div class="col-12 ">
                                       <h2>{% trans from  'marque' %} prod6.title {% endtrans %}</h2>
                                       <span> {% trans from  'marque' %} prod6.description {% endtrans %}  </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-12">
                       <div class="cards">
                           <div class="card-blocks " style="background: url({{ asset('dist/marque/prod7.png') }}) no-repeat; ">
                               <div class="row align-items-center hover-desc ">
                                   <div class="col-12 ">
                                       <h2>{% trans from  'marque' %} prod7.title {% endtrans %}</h2>
                                       <span> {% trans from  'marque' %} prod7.description {% endtrans %}  </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-12">
                       <div class="cards">
                           <div class="card-blocks " style="background: url({{ asset('dist/marque/prod8.png') }}) no-repeat; ">
                               <div class="row align-items-center hover-desc ">
                                   <div class="col-12 ">
                                       <h2>{% trans from  'marque' %} prod8.title {% endtrans %}</h2>
                                       <span> {% trans from  'marque' %} prod8.description {% endtrans %}  </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>

               </div>
           </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}

